.btn {
    background-color: rgb(52, 94, 110);
    color: white;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(39, 67, 78);
}